{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <h2>Add Hotel (Staff only)</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="text-danger">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button class="btn btn-primary">Save Hotel</button>
  </form>
</div>
{% endblock %}
